@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: passionone;
    src: url(passionone.otf) format(opentype);
}
@font-face {
    font-family: corpo;
    src: url(sriracha.otf) format(opentype);
}
header{
    background-color: black;
    height: 100px;
    max-width: 100%;
    font-size: 1.2em;
    height: 200px;
    font-size: 30%vh;
}

h1{
    color: white;
    text-align: center;
    font-family: 'passionone';
    font-size: 3em;
    padding-top: 35px;
}
h1:first-letter{
    font-size: 150%;
}
span{
    font-size: 150%;
}
h2{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 0.9em;
    
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    text-decoration: underline;
}
main{
    font-family: 'corpo';
    font-size: 1.8em;
    text-align: left;
    line-height: 50px;
    max-width: 100%;


}
#p1{
    text-align: left;
    width: 400px;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 70px;
}
p{
    text-align: left;
    padding: 30px;
    padding-top: 20px;
}
section{
    background-image: url(background002.jpg);
    background-position: left bottom;
    background-size: cover;
    background-attachment : fixed;
    height: 500px;
    width: 100%;
    padding: 0px;
    position: relative;
    min-width: 250px;
    text-shadow: 1px 1 px 0px black;

}
article{
    font-family: 'corpo';
    font-size: 0.9em;
    padding: 2px;
    text-align: left;
    max-width: 400px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    left: 4%;
    top: 15%;
    
}
#girassol{
    background-image: url(background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment : fixed;
    height: 500px;
    width: 100%;
    padding: 0px;
    position: relative;
    min-width: 250px;
}
footer{
    background-color: black;
    height: 20px;
    padding-top: 4px;
    font-size: 1em;
    margin: auto;
}