@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: passionone;
    src: url(passionone.otf) format(opentype);
}
@font-face {
    font-family: corpo;
    src: url(sriracha.otf) format(opentype);
}
header{
    background-color: black;
    height: 100px;
    max-width: 1000px;
}

h1{
    color: white;
    text-align: center;
    font-family: 'passionone';
    font-size: 1.7em;
    padding-top: 25px;
}
h1:first-letter{
    font-size: 150%;
}
span{
    font-size: 150%;
}
h2{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 0.5em;
    
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    text-decoration: underline;
}
main{
    font-family: 'corpo';
    font-size: 0.8em;
    text-align: left;
    line-height: 25px;
    max-width: 1000px;

}
#p1{
    text-align: left;
    width: 250px;
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 70px;
}
p{
    text-align: left;
    width: 250px;
    padding: 15px;
    padding-top: 20px;
}
section{
    background-image: url(background002.jpg);
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment : fixed;
    height: 300px;
    width: 100%;
    margin: auto;;
    padding: 0px;
    position: relative;
    max-width: 1000px;


}
article{
    font-family: 'corpo';
    font-size: 1em;
    padding: 2px;
    text-align: left;
    max-width: 240px;
    margin: auto;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    left: 4%;
    top: 15%;
    background-attachment: fixed;
    
}
#girassol{
    background-image: url(background001.jpg);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment : fixed;
    height: 300px;
    width: 100%;
    margin: auto;;
    padding: 0px;
    position: relative;
    max-width: 1000px;
}
footer{
    background-color: black;
    height: 15px;
    padding-top: 4px;
    font-size: 1em;
    margin: auto;
}